node_modules/
.env
.env.backup
vendor/
storage/*.key
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
temp/*
.DS_Store
